@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@keyframes growWidth {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

.bar {
  animation: growWidth .5s ease-out forwards;

}

@keyframes growDown {
  from {

    height: 0;
  }

  to {

    height: 100%;
  }
}

.dropDown {

  animation: growDown .3s ease-out forwards;

}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 100%;
  }
}

.dropDownFade {
  opacity: 0;
  animation: fadeIn .2s ease-in .2s forwards;
}

@keyframes fadeOut {
  from {
    opacity: 100%;
  }

  to {
    opacity: 0;
  }
}

.dropDownFadeOut {
  animation: fadeOut .1s ease-in forwards;
}

@keyframes growUp {
  from {

    height: 100%;
  }

  to {

    height: 0%;
  }
}

.dropDownExit {
  animation: growUp .5s ease-out forwards;
}

.leaderBoardFade {
  opacity: 0;
  animation: fadeIn .3s ease-in forwards;

}


@keyframes btnClick {
  0% {
      transform: scale(1) translateY(0);
      opacity: 1;
  }
  50% {
      transform: scale(1.2) translateY(-10px);
      opacity: 1;
  }
  100% {
      transform: scale(0.2) translateY(30px);
      opacity: 0;
  }
}
.buttonAnim{
  animation: btnClick .5s forwards;
}