@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 225, 225, 225;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 225, 225, 225;
  }
}

* {
  box-sizing: inherit;
}

html {
  
  overflow-x: hidden;
  height: 100vh;

  box-sizing: border-box;
}

body {
  overflow: hidden;
  
  background-color: #000013;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}