{
  "semi": true,
  "proseWrap": "always",
  "singleQuote": true,
  "printWidth": 50,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "editor.formatOnSave": false
}
